{{- if and .Values.monitoring.enabled .Values.monitoring.serviceMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "lakehouse-ingestion.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "lakehouse-ingestion.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "lakehouse-ingestion.selectorLabels" . | nindent 6 }}
  endpoints:
    - port: metrics
      interval: 30s
      path: /metrics
{{- end }}
