name: Build Docker Image

on:
  push:
    paths:
      - 'Dockerfile'
      - '.github/workflows/build-docker.yaml'
  workflow_dispatch:

jobs:
  build-docker:
    runs-on: ubuntu-latest
    environment: PROD
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/lakehouse-spark:3.4.1
            ${{ secrets.DOCKERHUB_USERNAME }}/lakehouse-spark:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max